USE [master]
GO
/****** Object:  Database [StudyHub]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE DATABASE [StudyHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudyHub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudyHub.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudyHub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudyHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudyHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudyHub]
GO
/****** Object:  User [Admin]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE USER [Admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[GradeEntries]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeEntries](
	[GradeEntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserSubjectId] [bigint] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AssessmentType] [varchar](20) NOT NULL,
	[Score] [decimal](8, 2) NOT NULL,
	[MaxScore] [decimal](8, 2) NOT NULL,
	[Weight] [decimal](6, 2) NOT NULL,
	[AssessedOn] [date] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_GradeEntries] PRIMARY KEY CLUSTERED 
(
	[GradeEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [varchar](30) NOT NULL,
	[SubjectName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Subjects_Code] UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubjects]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubjects](
	[UserSubjectId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[AcademicTermId] [bigint] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherName] [nvarchar](100) NULL,
	[ClassCode] [nvarchar](50) NULL,
	[CreditWeight] [decimal](5, 2) NOT NULL,
	[TargetScore10] [decimal](4, 2) NULL,
	[ColorHex] [char](7) NOT NULL,
	[IsArchived] [bit] NOT NULL,
 CONSTRAINT [PK_UserSubjects] PRIMARY KEY CLUSTERED 
(
	[UserSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserSubjects_Enrollment] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[AcademicTermId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserSubjects_Owner] UNIQUE NONCLUSTERED 
(
	[UserSubjectId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SubjectGradeSummary]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SubjectGradeSummary] AS
        SELECT us.UserSubjectId, us.UserId, us.AcademicTermId, us.SubjectId,
               s.SubjectName, us.CreditWeight, us.TargetScore10,
               COUNT(g.GradeEntryId) AS EnteredAssessmentCount,
               CAST(SUM((g.Score / NULLIF(g.MaxScore, 0)) * 10.0 * g.Weight)
                    / NULLIF(SUM(g.Weight), 0) AS decimal(5,2)) AS CurrentAverage10
        FROM dbo.UserSubjects AS us
        JOIN dbo.Subjects AS s ON s.SubjectId = us.SubjectId
        LEFT JOIN dbo.GradeEntries AS g ON g.UserSubjectId = us.UserSubjectId AND g.IsDeleted = 0
        GROUP BY us.UserSubjectId, us.UserId, us.AcademicTermId, us.SubjectId,
                 s.SubjectName, us.CreditWeight, us.TargetScore10;
GO
/****** Object:  View [dbo].[vw_TermGradeSummary]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TermGradeSummary] AS
        SELECT UserId, AcademicTermId,
               COUNT(CurrentAverage10) AS SubjectsWithGrades,
               CAST(SUM(CurrentAverage10 * CreditWeight)
                 / NULLIF(SUM(CASE WHEN CurrentAverage10 IS NOT NULL THEN CreditWeight END), 0)
                 AS decimal(5,2)) AS CurrentAverage10
        FROM dbo.vw_SubjectGradeSummary
        GROUP BY UserId, AcademicTermId;
GO
/****** Object:  Table [dbo].[ActivityEvents]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityEvents](
	[ActivityEventId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[EventType] [varchar](25) NOT NULL,
	[OccurredAtUtc] [datetime2](3) NOT NULL,
	[ActivityDate] [date] NOT NULL,
	[TimeZoneId] [nvarchar](100) NOT NULL,
	[IsStudyAction]  AS (CONVERT([bit],case when [EventType]='DeadlineCompleted' OR [EventType]='FocusCompleted' OR [EventType]='FlashcardReviewed' OR [EventType]='NoteSaved' then (1) else (0) end)) PERSISTED,
 CONSTRAINT [PK_ActivityEvents] PRIMARY KEY CLUSTERED 
(
	[ActivityEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ActivityEvents_Request] UNIQUE NONCLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[AvatarUrl] [nvarchar](2048) NULL,
	[EducationLevel] [varchar](20) NOT NULL,
	[SchoolName] [nvarchar](200) NULL,
	[ClassName] [nvarchar](100) NULL,
	[StudentCode] [nvarchar](50) NULL,
	[RoleCode] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserId] [bigint] NOT NULL,
	[Theme] [varchar](10) NOT NULL,
	[LanguageCode] [varchar](10) NOT NULL,
	[TimeZoneId] [nvarchar](100) NOT NULL,
	[EmailRemindersEnabled] [bit] NOT NULL,
	[InAppRemindersEnabled] [bit] NOT NULL,
	[DefaultReminderMinutes] [smallint] NOT NULL,
	[DailyStudyGoalMinutes] [smallint] NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserSettings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudyStreaks]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudyStreaks] AS
        WITH Days AS (
            SELECT DISTINCT UserId, ActivityDate FROM dbo.ActivityEvents WHERE IsStudyAction = 1
        ), Numbered AS (
            SELECT UserId, ActivityDate,
                   DATEADD(day, -CONVERT(int, ROW_NUMBER() OVER (PARTITION BY UserId ORDER BY ActivityDate)), ActivityDate) AS IslandKey
            FROM Days
        ), Islands AS (
            SELECT UserId, MIN(ActivityDate) AS FirstDay, MAX(ActivityDate) AS LastDay,
                   COUNT(*) AS StreakDays FROM Numbered GROUP BY UserId, IslandKey
        ), LocalToday AS (
            SELECT u.UserId,
                CONVERT(date, SYSUTCDATETIME() AT TIME ZONE 'UTC' AT TIME ZONE COALESCE(s.TimeZoneId, N'SE Asia Standard Time')) AS Today
            FROM dbo.Users AS u LEFT JOIN dbo.UserSettings AS s ON s.UserId = u.UserId
        )
        SELECT t.UserId, MAX(i.LastDay) AS LastStudyDate,
            COALESCE(MAX(i.StreakDays), 0) AS LongestStreakDays,
            COALESCE(MAX(CASE WHEN i.LastDay IN (t.Today, DATEADD(day, -1, t.Today)) THEN i.StreakDays ELSE 0 END), 0) AS CurrentStreakDays
        FROM LocalToday AS t LEFT JOIN Islands AS i ON i.UserId = t.UserId
        GROUP BY t.UserId;
GO
/****** Object:  View [dbo].[vw_DailyUsageUtc]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailyUsageUtc] AS
        SELECT CAST(OccurredAtUtc AS date) AS ActivityDateUtc,
               COUNT_BIG(*) AS EventCount,
               COUNT(DISTINCT UserId) AS ActiveUsers,
               COUNT(DISTINCT CASE WHEN IsStudyAction = 1 THEN UserId END) AS ActiveLearners
        FROM dbo.ActivityEvents GROUP BY CAST(OccurredAtUtc AS date);
GO
/****** Object:  Table [dbo].[AcademicTerms]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicTerms](
	[AcademicTermId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TermName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsArchived] [bit] NOT NULL,
 CONSTRAINT [PK_AcademicTerms] PRIMARY KEY CLUSTERED 
(
	[AcademicTermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AcademicTerms_Name] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[TermName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AcademicTerms_Owner] UNIQUE NONCLUSTERED 
(
	[AcademicTermId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[ActorUserId] [bigint] NULL,
	[ActionCode] [varchar](100) NOT NULL,
	[EntityType] [varchar](100) NOT NULL,
	[EntityKey] [nvarchar](100) NOT NULL,
	[Summary] [nvarchar](1000) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentReports]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentReports](
	[ReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReporterUserId] [bigint] NOT NULL,
	[NoteId] [bigint] NULL,
	[DocumentId] [bigint] NULL,
	[DeckId] [bigint] NULL,
	[GroupPostId] [bigint] NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[ResolvedByUserId] [bigint] NULL,
	[ResolutionNote] [nvarchar](1000) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[ResolvedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_ContentReports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deadlines]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deadlines](
	[DeadlineId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[DueAtUtc] [datetime2](3) NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[CompletedAtUtc] [datetime2](3) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Deadlines] PRIMARY KEY CLUSTERED 
(
	[DeadlineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Deadlines_Owner] UNIQUE NONCLUSTERED 
(
	[DeadlineId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentBookmarks]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentBookmarks](
	[UserId] [bigint] NOT NULL,
	[DocumentId] [bigint] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_DocumentBookmarks] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[StudyGroupId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[ResourceType] [varchar](10) NOT NULL,
	[StorageKey] [nvarchar](512) NULL,
	[ExternalUrl] [nvarchar](2048) NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[MimeType] [varchar](150) NULL,
	[FileSizeBytes] [bigint] NULL,
	[Visibility] [varchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalLogins]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalLogins](
	[Provider] [varchar](20) NOT NULL,
	[ProviderSubject] [varchar](255) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[LastLoginAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_ExternalLogins] PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ExternalLogins_UserProvider] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashcardDecks]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashcardDecks](
	[DeckId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[StudyGroupId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Visibility] [varchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_FlashcardDecks] PRIMARY KEY CLUSTERED 
(
	[DeckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashcardProgress]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashcardProgress](
	[UserId] [bigint] NOT NULL,
	[FlashcardId] [bigint] NOT NULL,
	[NextReviewAtUtc] [datetime2](3) NOT NULL,
	[LastReviewedAtUtc] [datetime2](3) NULL,
	[RepetitionCount] [int] NOT NULL,
	[IntervalDays] [int] NOT NULL,
	[EaseFactor] [decimal](4, 2) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_FlashcardProgress] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FlashcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashcardReviews]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashcardReviews](
	[ReviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[FlashcardId] [bigint] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[ResponseMilliseconds] [int] NULL,
	[ReviewedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_FlashcardReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FlashcardReviews_Request] UNIQUE NONCLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flashcards]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcards](
	[FlashcardId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeckId] [bigint] NOT NULL,
	[FrontText] [nvarchar](4000) NOT NULL,
	[BackText] [nvarchar](4000) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Flashcards] PRIMARY KEY CLUSTERED 
(
	[FlashcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[UnitCode] [varchar](15) NOT NULL,
	[TargetValue] [decimal](12, 2) NOT NULL,
	[CurrentValue] [decimal](12, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[StudyGroupId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[MemberRole] [varchar](15) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[RequestedAtUtc] [datetime2](3) NOT NULL,
	[JoinedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[StudyGroupId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPosts]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPosts](
	[GroupPostId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudyGroupId] [bigint] NOT NULL,
	[AuthorUserId] [bigint] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsPinned] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_GroupPosts] PRIMARY KEY CLUSTERED 
(
	[GroupPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[StudyGroupId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[BodyFormat] [varchar](10) NOT NULL,
	[Visibility] [varchar](10) NOT NULL,
	[IsPinned] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[DeadlineId] [bigint] NULL,
	[ScheduleEventId] [bigint] NULL,
	[OccurrenceDate] [date] NULL,
	[Channel] [varchar](10) NOT NULL,
	[RemindAtUtc] [datetime2](3) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[SentAtUtc] [datetime2](3) NULL,
	[LastError] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Reminders] PRIMARY KEY CLUSTERED 
(
	[ReminderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleEvents]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleEvents](
	[ScheduleEventId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[EventType] [varchar](15) NOT NULL,
	[StartAtLocal] [datetime2](0) NOT NULL,
	[EndAtLocal] [datetime2](0) NOT NULL,
	[TimeZoneId] [nvarchar](100) NOT NULL,
	[RepeatMode] [varchar](10) NOT NULL,
	[RepeatUntilDate] [date] NULL,
	[Location] [nvarchar](250) NULL,
	[Description] [nvarchar](2000) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ScheduleEvents] PRIMARY KEY CLUSTERED 
(
	[ScheduleEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ScheduleEvents_Owner] UNIQUE NONCLUSTERED 
(
	[ScheduleEventId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleExceptions]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleExceptions](
	[ScheduleEventId] [bigint] NOT NULL,
	[OccurrenceDate] [date] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
	[NewStartAtLocal] [datetime2](0) NULL,
	[NewEndAtLocal] [datetime2](0) NULL,
	[NewLocation] [nvarchar](250) NULL,
 CONSTRAINT [PK_ScheduleExceptions] PRIMARY KEY CLUSTERED 
(
	[ScheduleEventId] ASC,
	[OccurrenceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyGroups]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyGroups](
	[StudyGroupId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerUserId] [bigint] NOT NULL,
	[SubjectId] [int] NULL,
	[GroupName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Visibility] [varchar](10) NOT NULL,
	[MaxMembers] [smallint] NOT NULL,
	[IsArchived] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_StudyGroups] PRIMARY KEY CLUSTERED 
(
	[StudyGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySessions]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySessions](
	[StudySessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserSubjectId] [bigint] NULL,
	[StartedAtUtc] [datetime2](3) NOT NULL,
	[EndedAtUtc] [datetime2](3) NULL,
	[FocusSeconds] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
 CONSTRAINT [PK_StudySessions] PRIMARY KEY CLUSTERED 
(
	[StudySessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [varchar](100) NOT NULL,
	[SettingValue] [nvarchar](2000) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UpdatedByUserId] [bigint] NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityEvents_Analytics]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityEvents_Analytics] ON [dbo].[ActivityEvents]
(
	[OccurredAtUtc] ASC,
	[UserId] ASC
)
INCLUDE([EventType]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_ActivityEvents_Streak]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityEvents_Streak] ON [dbo].[ActivityEvents]
(
	[UserId] ASC,
	[ActivityDate] ASC,
	[IsStudyAction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_Date]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Date] ON [dbo].[AuditLogs]
(
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContentReports_Queue]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReports_Queue] ON [dbo].[ContentReports]
(
	[Status] ASC,
	[CreatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Deadlines_Due]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deadlines_Due] ON [dbo].[Deadlines]
(
	[UserId] ASC,
	[IsDeleted] ASC,
	[Status] ASC,
	[DueAtUtc] ASC
)
INCLUDE([Title],[Priority]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_Group]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_Group] ON [dbo].[Documents]
(
	[StudyGroupId] ASC,
	[Visibility] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_Owner]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_Owner] ON [dbo].[Documents]
(
	[OwnerUserId] ASC,
	[IsDeleted] ASC,
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_Subject]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_Subject] ON [dbo].[Documents]
(
	[UserSubjectId] ASC,
	[Visibility] ASC,
	[IsDeleted] ASC
)
INCLUDE([Title]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FlashcardDecks_Group]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlashcardDecks_Group] ON [dbo].[FlashcardDecks]
(
	[StudyGroupId] ASC,
	[Visibility] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlashcardDecks_Owner]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlashcardDecks_Owner] ON [dbo].[FlashcardDecks]
(
	[OwnerUserId] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlashcardProgress_Due]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlashcardProgress_Due] ON [dbo].[FlashcardProgress]
(
	[UserId] ASC,
	[NextReviewAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlashcardReviews_History]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlashcardReviews_History] ON [dbo].[FlashcardReviews]
(
	[UserId] ASC,
	[ReviewedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flashcards_Deck]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Flashcards_Deck] ON [dbo].[Flashcards]
(
	[DeckId] ASC,
	[IsDeleted] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Goals_User]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Goals_User] ON [dbo].[Goals]
(
	[UserId] ASC,
	[IsCancelled] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GradeEntries_Subject]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_GradeEntries_Subject] ON [dbo].[GradeEntries]
(
	[UserSubjectId] ASC,
	[IsDeleted] ASC
)
INCLUDE([Score],[MaxScore],[Weight]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GroupMembers_User]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupMembers_User] ON [dbo].[GroupMembers]
(
	[UserId] ASC,
	[Status] ASC,
	[StudyGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupPosts_Feed]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupPosts_Feed] ON [dbo].[GroupPosts]
(
	[StudyGroupId] ASC,
	[IsDeleted] ASC,
	[CreatedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notes_Group]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notes_Group] ON [dbo].[Notes]
(
	[StudyGroupId] ASC,
	[Visibility] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notes_Owner]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notes_Owner] ON [dbo].[Notes]
(
	[OwnerUserId] ASC,
	[IsDeleted] ASC,
	[UpdatedAtUtc] DESC
)
INCLUDE([Title],[UserSubjectId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reminders_Queue]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_Queue] ON [dbo].[Reminders]
(
	[Status] ASC,
	[RemindAtUtc] ASC
)
INCLUDE([UserId],[Channel]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Reminders_Deadline]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reminders_Deadline] ON [dbo].[Reminders]
(
	[UserId] ASC,
	[DeadlineId] ASC,
	[Channel] ASC,
	[RemindAtUtc] ASC
)
WHERE ([DeadlineId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Reminders_Event]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reminders_Event] ON [dbo].[Reminders]
(
	[UserId] ASC,
	[ScheduleEventId] ASC,
	[OccurrenceDate] ASC,
	[Channel] ASC,
	[RemindAtUtc] ASC
)
WHERE ([ScheduleEventId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleEvents_Calendar]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleEvents_Calendar] ON [dbo].[ScheduleEvents]
(
	[UserId] ASC,
	[IsDeleted] ASC,
	[StartAtLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudySessions_User]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudySessions_User] ON [dbo].[StudySessions]
(
	[UserId] ASC,
	[StartedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StudySessions_Running]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StudySessions_Running] ON [dbo].[StudySessions]
(
	[UserId] ASC
)
WHERE ([Status]='Running')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 9/27/2026 5:41:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicTerms] ADD  CONSTRAINT [DF_AcademicTerms_Archived]  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Deadlines] ADD  CONSTRAINT [DF_Deadlines_Priority]  DEFAULT ((2)) FOR [Priority]
GO
ALTER TABLE [dbo].[Deadlines] ADD  CONSTRAINT [DF_Deadlines_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Deadlines] ADD  CONSTRAINT [DF_Deadlines_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Deadlines] ADD  CONSTRAINT [DF_Deadlines_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Deadlines] ADD  CONSTRAINT [DF_Deadlines_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[DocumentBookmarks] ADD  CONSTRAINT [DF_DocumentBookmarks_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Documents_Visibility]  DEFAULT ('Private') FOR [Visibility]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Documents_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Documents_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF_Documents_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[ExternalLogins] ADD  CONSTRAINT [DF_ExternalLogins_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[FlashcardDecks] ADD  CONSTRAINT [DF_FlashcardDecks_Visibility]  DEFAULT ('Private') FOR [Visibility]
GO
ALTER TABLE [dbo].[FlashcardDecks] ADD  CONSTRAINT [DF_FlashcardDecks_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FlashcardDecks] ADD  CONSTRAINT [DF_FlashcardDecks_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[FlashcardDecks] ADD  CONSTRAINT [DF_FlashcardDecks_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[FlashcardProgress] ADD  CONSTRAINT [DF_FlashcardProgress_Next]  DEFAULT (sysutcdatetime()) FOR [NextReviewAtUtc]
GO
ALTER TABLE [dbo].[FlashcardProgress] ADD  CONSTRAINT [DF_FlashcardProgress_Repetitions]  DEFAULT ((0)) FOR [RepetitionCount]
GO
ALTER TABLE [dbo].[FlashcardProgress] ADD  CONSTRAINT [DF_FlashcardProgress_Interval]  DEFAULT ((0)) FOR [IntervalDays]
GO
ALTER TABLE [dbo].[FlashcardProgress] ADD  CONSTRAINT [DF_FlashcardProgress_Ease]  DEFAULT ((2.50)) FOR [EaseFactor]
GO
ALTER TABLE [dbo].[FlashcardReviews] ADD  CONSTRAINT [DF_FlashcardReviews_Reviewed]  DEFAULT (sysutcdatetime()) FOR [ReviewedAtUtc]
GO
ALTER TABLE [dbo].[Flashcards] ADD  CONSTRAINT [DF_Flashcards_Order]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Flashcards] ADD  CONSTRAINT [DF_Flashcards_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Flashcards] ADD  CONSTRAINT [DF_Flashcards_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Flashcards] ADD  CONSTRAINT [DF_Flashcards_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Goals] ADD  CONSTRAINT [DF_Goals_Current]  DEFAULT ((0)) FOR [CurrentValue]
GO
ALTER TABLE [dbo].[Goals] ADD  CONSTRAINT [DF_Goals_Cancelled]  DEFAULT ((0)) FOR [IsCancelled]
GO
ALTER TABLE [dbo].[Goals] ADD  CONSTRAINT [DF_Goals_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Goals] ADD  CONSTRAINT [DF_Goals_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Type]  DEFAULT ('Other') FOR [AssessmentType]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Max]  DEFAULT ((10)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Weight]  DEFAULT ((1)) FOR [Weight]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[GradeEntries] ADD  CONSTRAINT [DF_GradeEntries_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  CONSTRAINT [DF_GroupMembers_Role]  DEFAULT ('Member') FOR [MemberRole]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  CONSTRAINT [DF_GroupMembers_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  CONSTRAINT [DF_GroupMembers_Requested]  DEFAULT (sysutcdatetime()) FOR [RequestedAtUtc]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF_GroupPosts_Pinned]  DEFAULT ((0)) FOR [IsPinned]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF_GroupPosts_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF_GroupPosts_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF_GroupPosts_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Body]  DEFAULT (N'') FOR [Body]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Format]  DEFAULT ('Markdown') FOR [BodyFormat]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Visibility]  DEFAULT ('Private') FOR [Visibility]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Pinned]  DEFAULT ((0)) FOR [IsPinned]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Reminders] ADD  CONSTRAINT [DF_Reminders_Channel]  DEFAULT ('InApp') FOR [Channel]
GO
ALTER TABLE [dbo].[Reminders] ADD  CONSTRAINT [DF_Reminders_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Type]  DEFAULT ('Class') FOR [EventType]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Zone]  DEFAULT (N'SE Asia Standard Time') FOR [TimeZoneId]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Repeat]  DEFAULT ('None') FOR [RepeatMode]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ScheduleEvents] ADD  CONSTRAINT [DF_ScheduleEvents_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[StudyGroups] ADD  CONSTRAINT [DF_StudyGroups_Visibility]  DEFAULT ('Private') FOR [Visibility]
GO
ALTER TABLE [dbo].[StudyGroups] ADD  CONSTRAINT [DF_StudyGroups_Max]  DEFAULT ((20)) FOR [MaxMembers]
GO
ALTER TABLE [dbo].[StudyGroups] ADD  CONSTRAINT [DF_StudyGroups_Archived]  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[StudyGroups] ADD  CONSTRAINT [DF_StudyGroups_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[StudySessions] ADD  CONSTRAINT [DF_StudySessions_Focus]  DEFAULT ((0)) FOR [FocusSeconds]
GO
ALTER TABLE [dbo].[StudySessions] ADD  CONSTRAINT [DF_StudySessions_Status]  DEFAULT ('Running') FOR [Status]
GO
ALTER TABLE [dbo].[Subjects] ADD  CONSTRAINT [DF_Subjects_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Education]  DEFAULT ('University') FOR [EducationLevel]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('Student') FOR [RoleCode]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Theme]  DEFAULT ('System') FOR [Theme]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Language]  DEFAULT ('vi') FOR [LanguageCode]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_TimeZone]  DEFAULT (N'SE Asia Standard Time') FOR [TimeZoneId]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Email]  DEFAULT ((0)) FOR [EmailRemindersEnabled]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_InApp]  DEFAULT ((1)) FOR [InAppRemindersEnabled]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Minutes]  DEFAULT ((15)) FOR [DefaultReminderMinutes]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_DailyGoal]  DEFAULT ((30)) FOR [DailyStudyGoalMinutes]
GO
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[UserSubjects] ADD  CONSTRAINT [DF_UserSubjects_Credits]  DEFAULT ((1)) FOR [CreditWeight]
GO
ALTER TABLE [dbo].[UserSubjects] ADD  CONSTRAINT [DF_UserSubjects_Color]  DEFAULT ('#5138EE') FOR [ColorHex]
GO
ALTER TABLE [dbo].[UserSubjects] ADD  CONSTRAINT [DF_UserSubjects_Archived]  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[AcademicTerms]  WITH CHECK ADD  CONSTRAINT [FK_AcademicTerms_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AcademicTerms] CHECK CONSTRAINT [FK_AcademicTerms_User]
GO
ALTER TABLE [dbo].[ActivityEvents]  WITH CHECK ADD  CONSTRAINT [FK_ActivityEvents_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ActivityEvents] CHECK CONSTRAINT [FK_ActivityEvents_User]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Actor] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Actor]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Deck] FOREIGN KEY([DeckId])
REFERENCES [dbo].[FlashcardDecks] ([DeckId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Deck]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Document] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([DocumentId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Document]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Note] FOREIGN KEY([NoteId])
REFERENCES [dbo].[Notes] ([NoteId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Note]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Post] FOREIGN KEY([GroupPostId])
REFERENCES [dbo].[GroupPosts] ([GroupPostId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Post]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Reporter] FOREIGN KEY([ReporterUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Reporter]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_Resolver] FOREIGN KEY([ResolvedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_Resolver]
GO
ALTER TABLE [dbo].[Deadlines]  WITH CHECK ADD  CONSTRAINT [FK_Deadlines_SubjectOwner] FOREIGN KEY([UserSubjectId], [UserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[Deadlines] CHECK CONSTRAINT [FK_Deadlines_SubjectOwner]
GO
ALTER TABLE [dbo].[Deadlines]  WITH CHECK ADD  CONSTRAINT [FK_Deadlines_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Deadlines] CHECK CONSTRAINT [FK_Deadlines_User]
GO
ALTER TABLE [dbo].[DocumentBookmarks]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBookmarks_Document] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([DocumentId])
GO
ALTER TABLE [dbo].[DocumentBookmarks] CHECK CONSTRAINT [FK_DocumentBookmarks_Document]
GO
ALTER TABLE [dbo].[DocumentBookmarks]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBookmarks_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DocumentBookmarks] CHECK CONSTRAINT [FK_DocumentBookmarks_User]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Group] FOREIGN KEY([StudyGroupId])
REFERENCES [dbo].[StudyGroups] ([StudyGroupId])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Group]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_SubjectOwner] FOREIGN KEY([UserSubjectId], [OwnerUserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_SubjectOwner]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_User] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_User]
GO
ALTER TABLE [dbo].[ExternalLogins]  WITH CHECK ADD  CONSTRAINT [FK_ExternalLogins_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExternalLogins] CHECK CONSTRAINT [FK_ExternalLogins_User]
GO
ALTER TABLE [dbo].[FlashcardDecks]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardDecks_Group] FOREIGN KEY([StudyGroupId])
REFERENCES [dbo].[StudyGroups] ([StudyGroupId])
GO
ALTER TABLE [dbo].[FlashcardDecks] CHECK CONSTRAINT [FK_FlashcardDecks_Group]
GO
ALTER TABLE [dbo].[FlashcardDecks]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardDecks_SubjectOwner] FOREIGN KEY([UserSubjectId], [OwnerUserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[FlashcardDecks] CHECK CONSTRAINT [FK_FlashcardDecks_SubjectOwner]
GO
ALTER TABLE [dbo].[FlashcardDecks]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardDecks_User] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FlashcardDecks] CHECK CONSTRAINT [FK_FlashcardDecks_User]
GO
ALTER TABLE [dbo].[FlashcardProgress]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardProgress_Card] FOREIGN KEY([FlashcardId])
REFERENCES [dbo].[Flashcards] ([FlashcardId])
GO
ALTER TABLE [dbo].[FlashcardProgress] CHECK CONSTRAINT [FK_FlashcardProgress_Card]
GO
ALTER TABLE [dbo].[FlashcardProgress]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardProgress_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FlashcardProgress] CHECK CONSTRAINT [FK_FlashcardProgress_User]
GO
ALTER TABLE [dbo].[FlashcardReviews]  WITH CHECK ADD  CONSTRAINT [FK_FlashcardReviews_Progress] FOREIGN KEY([UserId], [FlashcardId])
REFERENCES [dbo].[FlashcardProgress] ([UserId], [FlashcardId])
GO
ALTER TABLE [dbo].[FlashcardReviews] CHECK CONSTRAINT [FK_FlashcardReviews_Progress]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD  CONSTRAINT [FK_Flashcards_Deck] FOREIGN KEY([DeckId])
REFERENCES [dbo].[FlashcardDecks] ([DeckId])
GO
ALTER TABLE [dbo].[Flashcards] CHECK CONSTRAINT [FK_Flashcards_Deck]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_SubjectOwner] FOREIGN KEY([UserSubjectId], [UserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_SubjectOwner]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_User]
GO
ALTER TABLE [dbo].[GradeEntries]  WITH CHECK ADD  CONSTRAINT [FK_GradeEntries_Subject] FOREIGN KEY([UserSubjectId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId])
GO
ALTER TABLE [dbo].[GradeEntries] CHECK CONSTRAINT [FK_GradeEntries_Subject]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Group] FOREIGN KEY([StudyGroupId])
REFERENCES [dbo].[StudyGroups] ([StudyGroupId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Group]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_User]
GO
ALTER TABLE [dbo].[GroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_GroupPosts_Member] FOREIGN KEY([StudyGroupId], [AuthorUserId])
REFERENCES [dbo].[GroupMembers] ([StudyGroupId], [UserId])
GO
ALTER TABLE [dbo].[GroupPosts] CHECK CONSTRAINT [FK_GroupPosts_Member]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Group] FOREIGN KEY([StudyGroupId])
REFERENCES [dbo].[StudyGroups] ([StudyGroupId])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Group]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_SubjectOwner] FOREIGN KEY([UserSubjectId], [OwnerUserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_SubjectOwner]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_User] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_User]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_DeadlineOwner] FOREIGN KEY([DeadlineId], [UserId])
REFERENCES [dbo].[Deadlines] ([DeadlineId], [UserId])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_DeadlineOwner]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_EventOwner] FOREIGN KEY([ScheduleEventId], [UserId])
REFERENCES [dbo].[ScheduleEvents] ([ScheduleEventId], [UserId])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_EventOwner]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_User]
GO
ALTER TABLE [dbo].[ScheduleEvents]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleEvents_SubjectOwner] FOREIGN KEY([UserSubjectId], [UserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[ScheduleEvents] CHECK CONSTRAINT [FK_ScheduleEvents_SubjectOwner]
GO
ALTER TABLE [dbo].[ScheduleEvents]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleEvents_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ScheduleEvents] CHECK CONSTRAINT [FK_ScheduleEvents_User]
GO
ALTER TABLE [dbo].[ScheduleExceptions]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExceptions_Event] FOREIGN KEY([ScheduleEventId])
REFERENCES [dbo].[ScheduleEvents] ([ScheduleEventId])
GO
ALTER TABLE [dbo].[ScheduleExceptions] CHECK CONSTRAINT [FK_ScheduleExceptions_Event]
GO
ALTER TABLE [dbo].[StudyGroups]  WITH CHECK ADD  CONSTRAINT [FK_StudyGroups_Owner] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudyGroups] CHECK CONSTRAINT [FK_StudyGroups_Owner]
GO
ALTER TABLE [dbo].[StudyGroups]  WITH CHECK ADD  CONSTRAINT [FK_StudyGroups_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[StudyGroups] CHECK CONSTRAINT [FK_StudyGroups_Subject]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_StudySessions_SubjectOwner] FOREIGN KEY([UserSubjectId], [UserId])
REFERENCES [dbo].[UserSubjects] ([UserSubjectId], [UserId])
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_StudySessions_SubjectOwner]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_StudySessions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_StudySessions_User]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_User] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [FK_SystemSettings_User]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_User]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [FK_UserSubjects_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [FK_UserSubjects_Subject]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [FK_UserSubjects_TermOwner] FOREIGN KEY([AcademicTermId], [UserId])
REFERENCES [dbo].[AcademicTerms] ([AcademicTermId], [UserId])
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [FK_UserSubjects_TermOwner]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [FK_UserSubjects_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [FK_UserSubjects_User]
GO
ALTER TABLE [dbo].[AcademicTerms]  WITH CHECK ADD  CONSTRAINT [CK_AcademicTerms_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[AcademicTerms] CHECK CONSTRAINT [CK_AcademicTerms_Dates]
GO
ALTER TABLE [dbo].[ActivityEvents]  WITH CHECK ADD  CONSTRAINT [CK_ActivityEvents_Type] CHECK  (([EventType]='GroupJoined' OR [EventType]='DeadlineCompleted' OR [EventType]='FocusCompleted' OR [EventType]='FlashcardReviewed' OR [EventType]='DocumentDownloaded' OR [EventType]='DocumentViewed' OR [EventType]='NoteSaved' OR [EventType]='Login'))
GO
ALTER TABLE [dbo].[ActivityEvents] CHECK CONSTRAINT [CK_ActivityEvents_Type]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_Resolution] CHECK  (([Status]='Open' AND [ResolvedByUserId] IS NULL AND [ResolvedAtUtc] IS NULL OR ([Status]='Dismissed' OR [Status]='Resolved') AND [ResolvedByUserId] IS NOT NULL AND [ResolvedAtUtc] IS NOT NULL))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_Resolution]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_Status] CHECK  (([Status]='Dismissed' OR [Status]='Resolved' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_Status]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_Target] CHECK  (((((case when [NoteId] IS NULL then (0) else (1) end+case when [DocumentId] IS NULL then (0) else (1) end)+case when [DeckId] IS NULL then (0) else (1) end)+case when [GroupPostId] IS NULL then (0) else (1) end)=(1)))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_Target]
GO
ALTER TABLE [dbo].[Deadlines]  WITH CHECK ADD  CONSTRAINT [CK_Deadlines_Completed] CHECK  (([Status]='Completed' AND [CompletedAtUtc] IS NOT NULL OR [Status]<>'Completed' AND [CompletedAtUtc] IS NULL))
GO
ALTER TABLE [dbo].[Deadlines] CHECK CONSTRAINT [CK_Deadlines_Completed]
GO
ALTER TABLE [dbo].[Deadlines]  WITH CHECK ADD  CONSTRAINT [CK_Deadlines_Priority] CHECK  (([Priority]>=(1) AND [Priority]<=(3)))
GO
ALTER TABLE [dbo].[Deadlines] CHECK CONSTRAINT [CK_Deadlines_Priority]
GO
ALTER TABLE [dbo].[Deadlines]  WITH CHECK ADD  CONSTRAINT [CK_Deadlines_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Deadlines] CHECK CONSTRAINT [CK_Deadlines_Status]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [CK_Documents_Resource] CHECK  (([ResourceType]='File' AND [StorageKey] IS NOT NULL AND len([StorageKey])>(0) AND [ExternalUrl] IS NULL AND [OriginalFileName] IS NOT NULL AND [MimeType] IS NOT NULL AND [FileSizeBytes] IS NOT NULL AND [FileSizeBytes]>(0) OR [ResourceType]='Link' AND [ExternalUrl] IS NOT NULL AND len([ExternalUrl])>(0) AND [StorageKey] IS NULL AND [OriginalFileName] IS NULL AND [MimeType] IS NULL AND [FileSizeBytes] IS NULL))
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [CK_Documents_Resource]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [CK_Documents_Sharing] CHECK  ((([Visibility]='Public' OR [Visibility]='Private') AND [StudyGroupId] IS NULL OR [Visibility]='Group' AND [StudyGroupId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [CK_Documents_Sharing]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [CK_Documents_Title] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [CK_Documents_Title]
GO
ALTER TABLE [dbo].[ExternalLogins]  WITH CHECK ADD  CONSTRAINT [CK_ExternalLogins_Provider] CHECK  (([Provider]='Google'))
GO
ALTER TABLE [dbo].[ExternalLogins] CHECK CONSTRAINT [CK_ExternalLogins_Provider]
GO
ALTER TABLE [dbo].[ExternalLogins]  WITH CHECK ADD  CONSTRAINT [CK_ExternalLogins_Subject] CHECK  ((len([ProviderSubject])>(0)))
GO
ALTER TABLE [dbo].[ExternalLogins] CHECK CONSTRAINT [CK_ExternalLogins_Subject]
GO
ALTER TABLE [dbo].[FlashcardDecks]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardDecks_Sharing] CHECK  ((([Visibility]='Public' OR [Visibility]='Private') AND [StudyGroupId] IS NULL OR [Visibility]='Group' AND [StudyGroupId] IS NOT NULL))
GO
ALTER TABLE [dbo].[FlashcardDecks] CHECK CONSTRAINT [CK_FlashcardDecks_Sharing]
GO
ALTER TABLE [dbo].[FlashcardDecks]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardDecks_Title] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[FlashcardDecks] CHECK CONSTRAINT [CK_FlashcardDecks_Title]
GO
ALTER TABLE [dbo].[FlashcardProgress]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardProgress_Dates] CHECK  (([LastReviewedAtUtc] IS NULL OR [NextReviewAtUtc]>=[LastReviewedAtUtc]))
GO
ALTER TABLE [dbo].[FlashcardProgress] CHECK CONSTRAINT [CK_FlashcardProgress_Dates]
GO
ALTER TABLE [dbo].[FlashcardProgress]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardProgress_Values] CHECK  (([RepetitionCount]>=(0) AND [IntervalDays]>=(0) AND [EaseFactor]>=(1.30)))
GO
ALTER TABLE [dbo].[FlashcardProgress] CHECK CONSTRAINT [CK_FlashcardProgress_Values]
GO
ALTER TABLE [dbo].[FlashcardReviews]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardReviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(4)))
GO
ALTER TABLE [dbo].[FlashcardReviews] CHECK CONSTRAINT [CK_FlashcardReviews_Rating]
GO
ALTER TABLE [dbo].[FlashcardReviews]  WITH CHECK ADD  CONSTRAINT [CK_FlashcardReviews_Response] CHECK  (([ResponseMilliseconds]>=(0)))
GO
ALTER TABLE [dbo].[FlashcardReviews] CHECK CONSTRAINT [CK_FlashcardReviews_Response]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD  CONSTRAINT [CK_Flashcards_Order] CHECK  (([SortOrder]>=(0)))
GO
ALTER TABLE [dbo].[Flashcards] CHECK CONSTRAINT [CK_Flashcards_Order]
GO
ALTER TABLE [dbo].[Flashcards]  WITH CHECK ADD  CONSTRAINT [CK_Flashcards_Text] CHECK  ((len(ltrim(rtrim([FrontText])))>(0) AND len(ltrim(rtrim([BackText])))>(0)))
GO
ALTER TABLE [dbo].[Flashcards] CHECK CONSTRAINT [CK_Flashcards_Text]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [CK_Goals_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [CK_Goals_Dates]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [CK_Goals_Score] CHECK  (([UnitCode]<>'Score10' OR [TargetValue]<=(10) AND [CurrentValue]<=(10)))
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [CK_Goals_Score]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [CK_Goals_Unit] CHECK  (([UnitCode]='Score10' OR [UnitCode]='Cards' OR [UnitCode]='Tasks' OR [UnitCode]='Sessions' OR [UnitCode]='Minutes'))
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [CK_Goals_Unit]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [CK_Goals_Values] CHECK  (([TargetValue]>(0) AND [CurrentValue]>=(0)))
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [CK_Goals_Values]
GO
ALTER TABLE [dbo].[GradeEntries]  WITH CHECK ADD  CONSTRAINT [CK_GradeEntries_Score] CHECK  (([MaxScore]>(0) AND [Score]>=(0) AND [Score]<=[MaxScore]))
GO
ALTER TABLE [dbo].[GradeEntries] CHECK CONSTRAINT [CK_GradeEntries_Score]
GO
ALTER TABLE [dbo].[GradeEntries]  WITH CHECK ADD  CONSTRAINT [CK_GradeEntries_Type] CHECK  (([AssessmentType]='Other' OR [AssessmentType]='Final' OR [AssessmentType]='Midterm' OR [AssessmentType]='Assignment' OR [AssessmentType]='Quiz'))
GO
ALTER TABLE [dbo].[GradeEntries] CHECK CONSTRAINT [CK_GradeEntries_Type]
GO
ALTER TABLE [dbo].[GradeEntries]  WITH CHECK ADD  CONSTRAINT [CK_GradeEntries_Weight] CHECK  (([Weight]>(0)))
GO
ALTER TABLE [dbo].[GradeEntries] CHECK CONSTRAINT [CK_GradeEntries_Weight]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [CK_GroupMembers_Joined] CHECK  (([Status]<>'Active' OR [JoinedAtUtc] IS NOT NULL))
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [CK_GroupMembers_Joined]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [CK_GroupMembers_Role] CHECK  (([MemberRole]='Moderator' OR [MemberRole]='Member'))
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [CK_GroupMembers_Role]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [CK_GroupMembers_Status] CHECK  (([Status]='Banned' OR [Status]='Left' OR [Status]='Rejected' OR [Status]='Active' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [CK_GroupMembers_Status]
GO
ALTER TABLE [dbo].[GroupPosts]  WITH CHECK ADD  CONSTRAINT [CK_GroupPosts_Body] CHECK  ((len(ltrim(rtrim([Body])))>(0)))
GO
ALTER TABLE [dbo].[GroupPosts] CHECK CONSTRAINT [CK_GroupPosts_Body]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [CK_Notes_Format] CHECK  (([BodyFormat]='PlainText' OR [BodyFormat]='Markdown'))
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [CK_Notes_Format]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [CK_Notes_Sharing] CHECK  ((([Visibility]='Public' OR [Visibility]='Private') AND [StudyGroupId] IS NULL OR [Visibility]='Group' AND [StudyGroupId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [CK_Notes_Sharing]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [CK_Notes_Title] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [CK_Notes_Title]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [CK_Reminders_Channel] CHECK  (([Channel]='Email' OR [Channel]='InApp'))
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [CK_Reminders_Channel]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [CK_Reminders_Sent] CHECK  (([Status]='Sent' AND [SentAtUtc] IS NOT NULL OR [Status]<>'Sent' AND [SentAtUtc] IS NULL))
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [CK_Reminders_Sent]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [CK_Reminders_Status] CHECK  (([Status]='Cancelled' OR [Status]='Failed' OR [Status]='Sent' OR [Status]='Processing' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [CK_Reminders_Status]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [CK_Reminders_Target] CHECK  (([DeadlineId] IS NOT NULL AND [ScheduleEventId] IS NULL AND [OccurrenceDate] IS NULL OR [DeadlineId] IS NULL AND [ScheduleEventId] IS NOT NULL AND [OccurrenceDate] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [CK_Reminders_Target]
GO
ALTER TABLE [dbo].[ScheduleEvents]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleEvents_Dates] CHECK  (([EndAtLocal]>[StartAtLocal] AND datediff(day,[StartAtLocal],[EndAtLocal])<=(1)))
GO
ALTER TABLE [dbo].[ScheduleEvents] CHECK CONSTRAINT [CK_ScheduleEvents_Dates]
GO
ALTER TABLE [dbo].[ScheduleEvents]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleEvents_Repeat] CHECK  (([RepeatMode]='None' AND [RepeatUntilDate] IS NULL OR [RepeatMode]='Weekly' AND [RepeatUntilDate] IS NOT NULL AND [RepeatUntilDate]>=CONVERT([date],[StartAtLocal])))
GO
ALTER TABLE [dbo].[ScheduleEvents] CHECK CONSTRAINT [CK_ScheduleEvents_Repeat]
GO
ALTER TABLE [dbo].[ScheduleEvents]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleEvents_Type] CHECK  (([EventType]='Other' OR [EventType]='Exam' OR [EventType]='SelfStudy' OR [EventType]='Class'))
GO
ALTER TABLE [dbo].[ScheduleEvents] CHECK CONSTRAINT [CK_ScheduleEvents_Type]
GO
ALTER TABLE [dbo].[ScheduleExceptions]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleExceptions_Change] CHECK  (([IsCancelled]=(1) AND [NewStartAtLocal] IS NULL AND [NewEndAtLocal] IS NULL OR [IsCancelled]=(0) AND [NewStartAtLocal] IS NOT NULL AND [NewEndAtLocal] IS NOT NULL AND [NewEndAtLocal]>[NewStartAtLocal]))
GO
ALTER TABLE [dbo].[ScheduleExceptions] CHECK CONSTRAINT [CK_ScheduleExceptions_Change]
GO
ALTER TABLE [dbo].[StudyGroups]  WITH CHECK ADD  CONSTRAINT [CK_StudyGroups_Max] CHECK  (([MaxMembers]>=(2) AND [MaxMembers]<=(500)))
GO
ALTER TABLE [dbo].[StudyGroups] CHECK CONSTRAINT [CK_StudyGroups_Max]
GO
ALTER TABLE [dbo].[StudyGroups]  WITH CHECK ADD  CONSTRAINT [CK_StudyGroups_Name] CHECK  ((len(ltrim(rtrim([GroupName])))>(0)))
GO
ALTER TABLE [dbo].[StudyGroups] CHECK CONSTRAINT [CK_StudyGroups_Name]
GO
ALTER TABLE [dbo].[StudyGroups]  WITH CHECK ADD  CONSTRAINT [CK_StudyGroups_Visibility] CHECK  (([Visibility]='Private' OR [Visibility]='Public'))
GO
ALTER TABLE [dbo].[StudyGroups] CHECK CONSTRAINT [CK_StudyGroups_Visibility]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [CK_StudySessions_Completed] CHECK  (([Status]<>'Completed' OR [FocusSeconds]>(0)))
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [CK_StudySessions_Completed]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [CK_StudySessions_End] CHECK  (([Status]='Running' AND [EndedAtUtc] IS NULL OR ([Status]='Cancelled' OR [Status]='Completed') AND [EndedAtUtc] IS NOT NULL AND [EndedAtUtc]>=[StartedAtUtc] AND [FocusSeconds]<=datediff_big(second,[StartedAtUtc],[EndedAtUtc])))
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [CK_StudySessions_End]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [CK_StudySessions_Focus] CHECK  (([FocusSeconds]>=(0)))
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [CK_StudySessions_Focus]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [CK_StudySessions_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Running'))
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [CK_StudySessions_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Education] CHECK  (([EducationLevel]='Other' OR [EducationLevel]='University' OR [EducationLevel]='HighSchool'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Education]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Name] CHECK  ((len(ltrim(rtrim([DisplayName])))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Name]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([RoleCode]='Admin' OR [RoleCode]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([Status]='Deleted' OR [Status]='Suspended' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [CK_UserSettings_DailyGoal] CHECK  (([DailyStudyGoalMinutes]>=(1) AND [DailyStudyGoalMinutes]<=(1440)))
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [CK_UserSettings_DailyGoal]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [CK_UserSettings_Minutes] CHECK  (([DefaultReminderMinutes]>=(0) AND [DefaultReminderMinutes]<=(10080)))
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [CK_UserSettings_Minutes]
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [CK_UserSettings_Theme] CHECK  (([Theme]='System' OR [Theme]='Dark' OR [Theme]='Light'))
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [CK_UserSettings_Theme]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [CK_UserSubjects_Color] CHECK  ((([ColorHex]) collate Latin1_General_100_BIN2 like '#[0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f]'))
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [CK_UserSubjects_Color]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [CK_UserSubjects_Credits] CHECK  (([CreditWeight]>(0)))
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [CK_UserSubjects_Credits]
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD  CONSTRAINT [CK_UserSubjects_Target] CHECK  (([TargetScore10]>=(0) AND [TargetScore10]<=(10)))
GO
ALTER TABLE [dbo].[UserSubjects] CHECK CONSTRAINT [CK_UserSubjects_Target]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateStudyGroup]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateStudyGroup]
        @OwnerUserId bigint, @GroupName nvarchar(150), @SubjectId int = NULL,
        @Visibility varchar(10) = 'Private', @MaxMembers smallint = 20,
        @StudyGroupId bigint = NULL OUTPUT
    AS
    BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;
        DECLARE @OwnTransaction bit = CASE WHEN @@TRANCOUNT = 0 THEN 1 ELSE 0 END;
        BEGIN TRY
            IF @OwnTransaction = 1 BEGIN TRANSACTION;
            IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE UserId = @OwnerUserId AND Status = 'Active')
                THROW 51020, N'Active owner not found.', 1;
            INSERT dbo.StudyGroups(OwnerUserId, SubjectId, GroupName, Visibility, MaxMembers)
            VALUES (@OwnerUserId, @SubjectId, @GroupName, @Visibility, @MaxMembers);
            SET @StudyGroupId = CONVERT(bigint, SCOPE_IDENTITY());
            INSERT dbo.GroupMembers(StudyGroupId, UserId, MemberRole, Status, JoinedAtUtc)
            VALUES (@StudyGroupId, @OwnerUserId, 'Moderator', 'Active', SYSUTCDATETIME());
            IF @OwnTransaction = 1 COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @OwnTransaction = 1 AND XACT_STATE() <> 0 ROLLBACK TRANSACTION;
            THROW;
        END CATCH
    END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RecordActivity]    Script Date: 9/27/2026 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RecordActivity]
        @UserId bigint, @EventType varchar(25), @RequestId uniqueidentifier
    AS
    BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;
        DECLARE @OwnTransaction bit = CASE WHEN @@TRANCOUNT = 0 THEN 1 ELSE 0 END;
        DECLARE @Now datetime2(3) = SYSUTCDATETIME(), @Zone nvarchar(100);
        BEGIN TRY
            IF @OwnTransaction = 1 BEGIN TRANSACTION;
            SELECT @Zone = COALESCE(s.TimeZoneId, N'SE Asia Standard Time')
            FROM dbo.Users AS u LEFT JOIN dbo.UserSettings AS s ON s.UserId = u.UserId
            WHERE u.UserId = @UserId AND u.Status = 'Active';
            IF @Zone IS NULL THROW 51010, N'Active user not found.', 1;
            IF NOT EXISTS (SELECT 1 FROM sys.time_zone_info WHERE name = @Zone)
                THROW 51011, N'Invalid SQL Server time zone.', 1;
            IF EXISTS (SELECT 1 FROM dbo.ActivityEvents WITH (UPDLOCK, HOLDLOCK) WHERE RequestId = @RequestId)
            BEGIN
                IF NOT EXISTS (SELECT 1 FROM dbo.ActivityEvents WHERE RequestId = @RequestId AND UserId = @UserId AND EventType = @EventType)
                    THROW 51012, N'RequestId already belongs to a different event.', 1;
            END
            ELSE
                INSERT dbo.ActivityEvents(RequestId, UserId, EventType, OccurredAtUtc, ActivityDate, TimeZoneId)
                VALUES (@RequestId, @UserId, @EventType, @Now, CONVERT(date, @Now AT TIME ZONE 'UTC' AT TIME ZONE @Zone), @Zone);
            IF @OwnTransaction = 1 COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @OwnTransaction = 1 AND XACT_STATE() <> 0 ROLLBACK TRANSACTION;
            THROW;
        END CATCH
    END;
GO
USE [master]
GO
